.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__title {
    font-size: 30px;
    color: red;
  }
  &__text {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
  }
}
